---
// Import the necessary dependencies.
import { Image } from "astro:assets";
import inviteImage from "@images/invite.avif";
import ContactForm from "./ContactForm.tsx";

// Define the variables that will be used in this component
const title: string = "Let us know you're coming...";
const subTitle: string =
  "... and what most excites you about this event to win an extra raffle ticket!";
const formTitle: string = "Fill in the form below";
const formSubTitle: string = "Personal information will NOT be shared with third parties.";
---

<!-- Contact Us -->
<section class="mx-auto max-w-[85rem] px-4 py-10 sm:px-6 lg:px-8 lg:py-14">
  <div class="mx-auto max-w-2xl lg:max-w-5xl">
    <div class="text-center">
      <h1
        class="text-balance text-2xl font-bold tracking-tight text-neutral-800 dark:text-neutral-200 md:text-4xl md:leading-tight"
      >
        {title}
      </h1>
      <p class="mt-1 text-pretty text-neutral-600 dark:text-neutral-400">
        {subTitle}
      </p>
    </div>

    <div class="mt-12 grid gap-6 lg:grid-cols-2 lg:gap-16">
      <div class="flex flex-col rounded-xl p-4 sm:p-6 lg:p-8">
        <h2
          class="mb-8 text-xl font-bold text-neutral-700 dark:text-neutral-300"
        >
          {formTitle}
        </h2>
        <!-- Form for user input with various input fields.-->
        <!-- Each field utilizes a different input component for the specific type of input (text, email, phone, and textarea)-->
        <ContactForm formSubTitle={formSubTitle} client:only />
      </div>
      <Image
        src={inviteImage}
        alt="Nerd Fest Expo Invitation Handout"
        class="h-full w-full object-contain"
        draggable={"false"}
        format={"avif"}
        loading={"eager"}
      />
    </div>
  </div>
</section>